$primary_black : #000
$primary_white : #fff
$font_paragraph : 18px
$font_header : 40px
$myFont : work-san-bold
$fontSansreg: work-san-regular
$fontSansExLight: work-san-extralight

@font-face 
    font-family: work-san-bold
    src: url("../font/TTF/WorkSans-Bold.ttf")

@font-face 
    font-family: work-san-regular
    src: url("../font/TTF/WorkSans-Regular.ttf")

@font-face 
    font-family: work-san-extralight
    src: url("../font/TTF/WorkSans-ExtraLight.ttf")



*
    padding: 0
    margin: 0
    box-sizing: border-box

.main-header
    background-color: $primary_black

.header-banner
    position: relative
    max-width: 100%
    height: 100%

.header-banner-text

    position: absolute
    top: 37%
    left: 130px

.header-banner-text h1
    font-weight: 700
    font-family:  $myFont
    text-transform: uppercase
    letter-spacing: -0.02em
    line-height: 60px
    font-size: 96px

.header-banner-text h2
    font-weight: 400
    width: 100%
    font-family: $fontSansreg
    font-size: 96px

.header-banner-text 
    h1
        font-weight: 700
        font-family:  $myFont
        text-transform: uppercase
        letter-spacing: -0.02em
        line-height: 60px
        font-size: 5.5vw
    h2
        font-weight: 400
        width: 100%
        font-family: $fontSansreg
        font-size: 5.5vw
    p
        font-size: 2.5vw
        font-family: $fontSansExLight

        span
            font-family: $myFont
        

// .header-banner-text p span
//     font-family: $myFont



.header-banner-img
    position: relative
    height: 100%
   
.header-banner-box
    position: relative
    max-height: 100%
.header-banner .header-banner-img img
    
    top: 13%
    position: absolute
    transform: scaleX(-1)

.header-banner .header-banner-img
 


.header-banner-img-back
    z-index: 1
    right: 5%
    width: 25%
    max-height: 100%

.header-banner-img-front
    width: 42%
    right: 20%
    z-index: 2
    max-width: 100%
    max-height: 100%
// section award//

.section-award
    background-color: $primary_black
    .row-award
        justify-content: center
        margin: auto
        width: 80%
        display: flex
        flex-direction: row
        column-gap: 4rem;
        min-height: 600px
        columns-
        color: $primary_white
    
    .award-left
        max-width: 100%
        height: 100%
        display: flex
        flex-direction: column
        align-items: center
        h1
            margin-top: 10%
            font-family: $myFont
            font-size: 5.5vw
        p
            text-align: center
            margin-top: 10%
            max-width: 600px
    .award-right
        display: flex
        align-items: center
        justify-content: center
        max-width: 100%
        .award-box
            max-width: 100%
            max-height: 100%
            img
                max-width: 100%
    
// youtube-section
.section-youtube, .section-tiktok
    margin-top: 50px
    margin-bottom: 50px
    .youtube-header
        max-width: 100%
        
        h1
            font-family: $myFont
            font-size: 5.5vw
            width: fit-content
            margin: auto

    .youtube-box ,.tiktok-box
    //    display: flex
    //    flex-direction: column
    overflow: visible
    .youtube-box-main,.tiktok-box-main
        margin: auto
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        // display: grid
        // grid-template-columns: repeat(3, 1fr)
        // grid-area: /1/1/1
        // grid-auto-rows: minmax(min-content,max-content)
        width: 80%
        // max-height: 100%
        column-gap: 50px
        height: auto
    
    .youtube-box-vdo , .tiktok-box-vdo
        width: 100%
       
    .youtube-box-vdo iframe
       height: 300px
       width: 100%


    .youtube-box-p
        margin-top: 20px
        font-family: $fontSansreg
        text-align: center
        padding: 0 10 0 10

.tiktok
    background-color: $primary_black
    color: $primary_white
.section-tiktok
    padding-bottom: 60px

// section myskill
.section-myskill
    margin-bottom: 50px
    .myskill-header
        width: 80%
        margin: auto
        padding: 30px 0px 40px 0px
        border-bottom: 5px solid black
        h1
            margin: auto
            width: fit-content
            font-family: $myFont
            font-size: 96px
    .myskill-semi-header
        margin-top: 30px
        h2
            margin: auto
            width: fit-content
            font-family: $myFont
            font-size: 5vw
            font-weight:lighter
    .myskill-paragraph
        width: 80%
        margin: auto
        margin-top: 50px
        p   
            text-align: center
            
            width: fit-content
            font-family: $fontSansreg
            font-size: 1vw
            font-weight:lighter
.section-premiere       
    background: $primary_black 
    .premiere-box-main
        padding: 30px 0
        margin: auto
        width: 80%
        display: grid
        grid-template-columns: repeat(3,1fr)
        justify-content: center
        .premiere-box
            .premiere-box-vdo
                margin: auto
                img
                    max-width: 100%
                    max-height: 400px
                max-width: 50%
                max-height: 100%

$mediaSmallMoblie: 320px
$mediamoblie: 480px
$mediaphone: 600px
$mediateblets: 768px
$medialaptops: 992px
$largelaptops: 1200px
$largepc: 1700px

@media only screen and (min-width:$largelaptops)  and (max-width:$largepc)
    .header-banner
        height: 80%
    .header-banner-text
        top: 33%
        left: 5%
    // .header-banner-img-front
    //     top: -4%
        
    // .header-banner-img-back
    //     top: 8%
    .header-banner .header-banner-img img
        min-width: 20%
    .header-banner-img
        height: 800px
    
    
@media only screen and(min-width: $medialaptops) and (max-width: $largelaptops)
    .header-banner .header-banner-img img
        top: 14%
    .header-banner
        height: 60%
    .tiktok-box
        display: none
    .youtube-box-main
        flex-direction: column !important
        row-gap: 20px
@media only screen and(min-width: $mediateblets) and (max-width: $medialaptops)
    .header-banner-text
        left: 10%
        top: 38%
    .header-banner .header-banner-img img
        top: 9%
    .header-banner
        height: 50%
    .tiktok-box
        display: none
    .youtube-box-main
        flex-direction: column !important
        row-gap: 20px
    .header-banner-text h1
        line-height: 20px
    .section-award
        padding: 10px 0
    .section-award .award-left p
        font-size: 2vw
    .section-award .award-left
        align-items: center
    .section-award .row-award
        margin:  
        min-height: fit-content
        align-items: center
        column-gap: 1rem 
    .section-youtube .youtube-box-p
        font-size: 3vw
    .section-myskill .myskill-header h1
        font-size: 9vw
@media only screen and(min-width: $mediaphone) and (max-width: $mediateblets)
    .header-banner
        height: 45%
    .tiktok-box
        display: none
    .youtube-box-main
        flex-direction: column !important
    .header-banner-text
        top: 36%
        left: 10%
    .header-banner-text h1
        line-height: 30px
    .header-banner-text h1
        line-height: 20px
    .section-award
        padding: 10px 0
    .section-award .award-left p
        font-size: 2vw
    .section-award .award-left
        align-items: center
    .section-award .row-award
        margin:  
        min-height: fit-content
        align-items: center
        column-gap: 1rem 
    .section-youtube .youtube-box-p
        font-size: 3vw
    .section-myskill .myskill-header h1
        font-size: 9vw   
@media only screen and(max-width: $mediaphone)
    .header-banner .header-banner-img img
        top: 40px
    .header-banner
        height: 35%
    .tiktok-box
        display: none
    .youtube-box-main
        flex-direction: column !important
        row-gap: 20px
    .header-banner-text
        top: 28%
        left: 6%
    .header-banner-text h1
        line-height: 30px
    .header-banner-text h1
        line-height: 20px
    .section-award
        padding: 10px 0
    .section-award .award-left p
        font-size: 2vw
    .section-award .award-left
        align-items: center
    .section-award .row-award
        margin:  
        min-height: fit-content
        align-items: center
        column-gap: 1rem 
    .section-youtube .youtube-box-p
        font-size: 3vw
    .section-myskill .myskill-header h1
        font-size: 9vw
@media only screen and(max-width: $mediaSmallMoblie)
    .header-banner .header-banner-img img
        top: 40px
    .header-banner
        height: 20%
    .tiktok-box
        display: none
    .youtube-box-main
        flex-direction: column !important
        row-gap: 20px
    .header-banner-text
        top: 36%
        left: 6%
    .header-banner-text h1
        line-height: 20px
    .section-award
        padding: 10px 0
    .section-award .award-left p
        font-size: 2vw
    .section-award .award-left
        align-items: center
    .section-award .row-award
        margin:  
        min-height: fit-content
        align-items: center
        column-gap: 1rem 
    .section-youtube .youtube-box-p
        font-size: 3vw
    .section-myskill .myskill-header h1
        font-size: 9vw