@font-face {
  font-family: work-san-bold;
  src: url("../font/TTF/workSans-bold.ttf");
}

@font-face {
  font-family: work-san-regular;
  src: url("../font/TTF/WorkSans-Regular.ttf");
}

@font-face {
  font-family: work-san-extralight;
  src: url("../font/TTF/workSans-ExtraLight.ttf");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-header {
  background-color: #000;
}

.header-banner {
  position: static;
  max-width: 100%;
  min-height: 850px;
}

.header-banner-text {
  display: inline-block;
  position: absolute;
  top: 400px;
  left: 130px;
}

.header-banner-text h1 {
  font-weight: 700;
  font-family: work-san-bold;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  line-height: 60px;
  font-size: 96px;
}

.header-banner-text h2 {
  font-weight: 400;
  width: 100%;
  font-family: work-san-regular;
  font-size: 96px;
}

.header-banner-text h1 {
  font-weight: 700;
  font-family: work-san-bold;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  line-height: 60px;
  font-size: 96px;
}

.header-banner-text h2 {
  font-weight: 400;
  width: 100%;
  font-family: work-san-regular;
  font-size: 96px;
}

.header-banner-text p {
  font-size: 48px;
  font-family: work-san-extralight;
}

.header-banner-text p span {
  font-family: work-san-bold;
}

.header-banner-img {
  display: inline-block;
  position: relative;
  min-width: 100%;
}

.header-banner .header-banner-img img {
  position: absolute;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.header-banner-img-back {
  max-height: 700px;
  z-index: -1;
  top: 80px;
  right: 80px;
}

.header-banner-img-front {
  max-height: 800px;
  z-index: 1;
  right: 150px;
  top: -20px;
}

.section-award {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 600px;
  background-color: #000;
  color: #fff;
}

.section-award .award-left {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-award .award-left h1 {
  margin-top: 10%;
  font-family: work-san-bold;
  font-size: 96px;
}

.section-award .award-left p {
  text-align: center;
  margin-top: 10%;
  max-width: 600px;
}

.section-award .award-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.section-youtube {
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: visible;
}

.section-youtube .youtube-header {
  max-width: 100%;
}

.section-youtube .youtube-header h1 {
  font-family: work-san-bold;
  font-size: 96px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.section-youtube .youtube-box-main {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 80%;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  height: auto;
}

.section-youtube .youtube-box-vdo {
  width: 100%;
}

.section-youtube .youtube-box-vdo iframe {
  height: 300px;
  width: 100%;
}

.section-youtube .youtube-box-p {
  margin-top: 20px;
  font-family: work-san-regular;
  text-align: center;
  padding: 0 10 0 10;
}
/*# sourceMappingURL=mystyle.css.map */